
.world { 
    position: fixed;
    width: 500px;
    height: 500px;
    top: 700px;
    left: 720px;
    animation: circle 20s linear ;
    animation-iteration-count: infinite;
}

@keyframes circle  {
    0% {
        transform: rotate(0deg );
    }
    50%{
        transform: rotate(-180deg );
    }
    100%{
        transform: rotate(-360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.slidebar {
    position: fixed;
    height: 100%;
    width: 78px;
    background-color: rgb(160, 160, 160);
    padding: 6px 14px ;
}
.slidebar.active{
    width: 240px;
}
.slidebar .logo_content .logo {
    color: black;
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center ;
}
.logo_content .logo i{
    font-size: 80px ;
    margin-right:5px ;

}

.logo_content .logo .logo_name {
    font-family: 80px;
    font-weight: 400;
}
.sliderbar #btn{
    position: absolute;
    color: lightgreen;
    left: 90%;
    top:  6px ;
    font-size: 80px;
    height: 50px;
    width: 50px;
    text-align: center ;
    line-height: 50px ;
    transform: translateX(-50%);
}
.slidebar ul{
    margin-top: 10px;
}
.slidebar ul li{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 5px ;
    list-style: none;
    line-height: 50px;
}
.slidebar ul li .tooltip{
    position: absolute;
    height: 35px ;
    width: 140px ;
    left: 140px ;
    top: 20%;
    transform: translateY(-50%);
    border-radius: 6px ;
    line-height: 35px ;
    text-align: center;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0, 0.2) ;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}



.slidebar ul li:hover .tooltip {
    top: 50%;
    transition:all  0.5s ease ;
    opacity: 1;

}

.slidebar ul li a { 
    color: #fff;
    display: flex;
    align-items: center ;
    text-decoration: none ;
    transition: all 0.4s ease ;
    font-size: 30px;
}

.slidebar ul li a :hover{
    background-color: #fff;
    color: rgb(160, 160, 160);


}
.slidebar ul li a i{ 
    height: 50px ;
    min-width: 30px ;
    border-radius: 12px ;
    line-height: 50px;
    text-align: center;
}

