
.world { 
    position: fixed;
    width: 500px;
    height: 500px;
    top: 700px;
    left: 720px;
    animation: circle 20s linear ;
    animation-iteration-count: infinite;
}

@keyframes circle  {
    0% {
        transform: rotate(0deg );
    }
    50%{
        transform: rotate(-180deg );
    }
    100%{
        transform: rotate(-360deg);
    }
}

.background{
        background-color:black;
        height: 100%;
        width: 100%;
        top: 10px;
        border-color: rgb(red, green, blue);
        z-index: 0;
        position: absolute;
}