
.logo { 
    position: relative;
    width: 40%;
    height: 20%;
    left: 30%;
    top: 50%  ;
   
}

.logo.second{ 
    position: absolute;
    top: 100px;
    width: 1%;
    height: 2%;
}
.intro{
    opacity: 0;
    pointer-events: none;
    animation: fade_out 2s;
}
@keyframes fade_out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fade_in { 
    from{
        opacity: 0;
        
    }
    to{
        animation-delay: 2s;
        opacity: 1;
    }
}

@keyframes zoomin { 
    from { 
        transform: scale(5);
    }
    to{ 
        transform: scale(1);
    }
}
.deteil { 
    
    animation: fade_in 2s;

}

.start{ 
    animation: fade_in 2s;
    opacity: 1;
    z-index: 99;
    

}

.bt-zoom{
    animation: zoomin 2s ;
    opacity: 1;
}


.wrapper{
    margin: 0 auto 0 auto;
    width: 1500px;
    height: auto;
    border: 6px solid rgb(145, 2, 121);
    border-radius: 20px;
    background-color: #fff;
    display: block;
    transition: .5s;
    
}


.img-info{
    width: 100%;
   

}

.img-info h1{
    padding: 20px 30px 20px;
    font-family: 'Mitr', sans-serif;
    font-size: 50px;
    color: black;
    line-height: 1.2;
}
.img-info h2{
    padding: 20px 30px 20px;
    font-family: 'Mitr', sans-serif;
    font-size: 35px;
    color: rgb(162, 0, 0);
    line-height: 1.2;
}
.img-info p {
    padding: 0px 30px 20px;
    font-family: 'Mitr', sans-serif;
    font-size: 25px;
    color:black;
    line-height: 24px;
    
}
.img-BCG{

    width: 50%;
    height: 50%;
    margin: 0 auto 0 auto;
    display: block;
   

   
}
.img-unknown{
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto 0 auto

}
@media only screen and(min-width: 768px){
    .wrapper{
        width: 600px;
        margin: 0 auto;
        
    }

.img-info h1{
    padding-top: 20px 0px 0px;
}
.img-info h2{
    padding-top: 20px 0px 0px;
}
.img-info p {
    padding-top: 20px 0px 0px;
}
.img-BCG{
    display: block;
    width: 100%;
    margin: 0 auto 0 auto;
}
.img-unknown{
    display: block;
    margin: 0 auto 0 auto;
    width: 100%;
    padding-top: 30px;
}
}
@media only screen and(min-width: 1000px){
    .wrapper{
        width: 1000px;
    }
   
.img-info{
    width: 50%;
    float: right;
}
.img-info h1{
    padding-top: 20px 0px 0px 30px;
}
.img-info h2{
    padding-top: 20px 0px 0px 30px;
}
.img-info p {
    padding-top: 20px 0px 0px 30px;
    display: block;
    float: right;
}
.img-BCG{
    width: 50%;
    padding-top: 0px;
    display: block;
    margin: 0 auto 0 auto;
    float: left;
}
.img-unknown{
    padding-top:0px;
    display: block;
    margin: 0 auto 0 auto;
    width: 50%;
    float: left;
}
}


.op0{
    opacity: 0;
}



.circle { 
    position: absolute;
    left: 0px;
    bottom: 500px ;
    animation: left_right 5s ;
}

@keyframes left_right{
    0%{
        transform: translateX(-50px);
        animation-delay: 3s;
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        animation-delay: 2s;
        transform: translateX(60px);
      
    }
} 

